html, body { height: 100%; margin: 0; padding: 0; background: #ffffff;}

/*マップ*/
#map { height: 58%; }

.header{
    background-color: #00BFFF;
    color: #ffffff;
}
.back{
    background-color: #00BFFF;
    margin-top: 0px;
    margin-left: 5px;
    border-style: none;

}
.center {
    text-align: center;
    font-size: 30px;
}

.text{
    font-size: 30px;
}
/*開始ボタン*/
.button_start {
    margin-left: 25%;
    font-size: 25px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    background-color: #00BFFF;
    color: #ffffff;
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;
    
            /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*終了ボタン*/
.button_end {
    font-size: 25px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    background-color: #00BFFF;
    color: #ffffff;
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;
    
            /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*共通ボタン*/
.button {
    font-size: 1em;
    font-weight: bold;
    padding: 1% 10%;
    background-color: #404040;
    color: #ffffff;
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;
}